{:paths ["src/main" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        
        com.wsscode/pathom3 {:mvn/version "2022.10.19-alpha"}
        mount/mount {:mvn/version "0.1.16"}
        
        lambdaisland/kaocha {:mvn/version "1.73.1175"}}
 
 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.73.1175"}}
                  :exec-fn kaocha.runner/exec-fn
                  :exec-args {}}}}


