{:paths ["src/main" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        
        com.wsscode/pathom3 {:mvn/version "2022.10.19-alpha"}
        mount/mount {:mvn/version "0.1.16"}
        io.github.IGJoshua/coffi {:git/sha "2c45d8e875f4426e1631f987fb4c63b0927604eb"}}
 
 :aliases {:dev {:jvm-opts ["--enable-preview" "--enable-native-access=ALL-UNNAMED"]}}}


