[#:items{:slug "Watermelon",
         :domain_pk nil,
         :title "Watermelon",
         :domain_pk_namespace nil,
         :id 1,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Mango",
         :domain_pk nil,
         :title "Mango",
         :domain_pk_namespace nil,
         :id 2,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Avocado",
         :domain_pk nil,
         :title "Avocado",
         :domain_pk_namespace nil,
         :id 3,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Banana",
         :domain_pk nil,
         :title "Banana",
         :domain_pk_namespace nil,
         :id 4,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "blackberry",
         :domain_pk nil,
         :title "blackberry",
         :domain_pk_namespace nil,
         :id 5,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Grapes",
         :domain_pk nil,
         :title "Grapes",
         :domain_pk_namespace nil,
         :id 6,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Tomato",
         :domain_pk nil,
         :title "Tomato",
         :domain_pk_namespace nil,
         :id 7,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Strawberry",
         :domain_pk nil,
         :title "Strawberry",
         :domain_pk_namespace nil,
         :id 8,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Blueberry",
         :domain_pk nil,
         :title "Blueberry",
         :domain_pk_namespace nil,
         :id 9,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Cantaloupe",
         :domain_pk nil,
         :title "Cantaloupe",
         :domain_pk_namespace nil,
         :id 10,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Apple",
         :domain_pk nil,
         :title "Apple",
         :domain_pk_namespace nil,
         :id 11,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Lemon",
         :domain_pk nil,
         :title "Lemon",
         :domain_pk_namespace nil,
         :id 12,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Pomegranate",
         :domain_pk nil,
         :title "Pomegranate",
         :domain_pk_namespace nil,
         :id 13,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Grapefruit",
         :domain_pk nil,
         :title "Grapefruit",
         :domain_pk_namespace nil,
         :id 14,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Orange",
         :domain_pk nil,
         :title "Orange",
         :domain_pk_namespace nil,
         :id 15,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Peach",
         :domain_pk nil,
         :title "Peach",
         :domain_pk_namespace nil,
         :id 16,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Plum",
         :domain_pk nil,
         :title "Plum",
         :domain_pk_namespace nil,
         :id 17,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Cherry",
         :domain_pk nil,
         :title "Cherry",
         :domain_pk_namespace nil,
         :id 18,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Pineapple",
         :domain_pk nil,
         :title "Pineapple",
         :domain_pk_namespace nil,
         :id 19,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Raspberry",
         :domain_pk nil,
         :title "Raspberry",
         :domain_pk_namespace nil,
         :id 20,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Pear",
         :domain_pk nil,
         :title "Pear",
         :domain_pk_namespace nil,
         :id 21,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}
 #:items{:slug "Apricot",
         :domain_pk nil,
         :title "Apricot",
         :domain_pk_namespace nil,
         :id 22,
         :url nil,
         :access 0,
         :edited_at #inst "2023-01-22T01:08:37.787924000-00:00",
         :body nil,
         :created_at #inst "2023-01-22T01:08:37.787924000-00:00"}]
